In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import folium
from folium.plugins import MarkerCluster
import requests
from config import geoapify_key
import ipywidgets as widgets
from ipywidgets import Dropdown, Text, Output, VBox, HTML
from IPython.display import display
import psycopg2
from geopy.geocoders import Nominatim
import numpy as np

In [3]:
#Load the Data
engine = create_engine('postgresql://francis:1234@localhost:5432/Crime')

In [4]:
df = pd.read_sql("SELECT * FROM Crime;", engine)
df

,id,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36
2684,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26
2685,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42
2686,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37
2687,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00

In [5]:
# API URL and Geoapify key
base_url = 'https://api.geoapify.com/v1/geocode/search'

# Get unique cities 
unique_cities = df['agency_jurisdiction'].unique()

# Dictionaries to store latitudes and longitudes for each unique city
city_latitudes = {}
city_longitudes = {}

# Loop through unique cities to get coordinates
for city in unique_cities:
    params = {
        'text': city,
        'apiKey': geoapify_key
    }
    response = requests.get(base_url, params=params).json()
    
    # Check if the response contains results
    if response['features']:
        latitude = response['features'][0]['geometry']['coordinates'][1]  
        longitude = response['features'][0]['geometry']['coordinates'][0] 
        city_latitudes[city] = latitude
        city_longitudes[city] = longitude
    else:
        city_latitudes[city] = None
        city_longitudes[city] = None

# Map the latitude and longitude back to the original DataFrame
df['Latitude'] = df['agency_jurisdiction'].map(city_latitudes)
df['Longitude'] = df['agency_jurisdiction'].map(city_longitudes)

# Update Df
print(df[['agency_jurisdiction', 'Latitude', 'Longitude']].head())

  agency_jurisdiction   Latitude   Longitude
0     Albuquerque, NM  35.084103 -106.650985
1       Arlington, TX  32.735582  -97.107119
2         Atlanta, GA  33.748992  -84.390264
3          Aurora, CO  41.757170  -88.314754
4          Austin, TX  30.341599  -97.587213

In [6]:
df

,id,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita,Latitude,Longitude
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13,35.084103,-106.650985
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46,32.735582,-97.107119
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32,33.748992,-84.390264
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58,41.757170,-88.314754
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10,30.341599,-97.587213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36,32.222876,-110.974847
2684,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26,36.156312,-95.992752
2685,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42,36.849658,-75.976075
2686,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37,38.895037,-77.036543
2687,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00,37.692236,-97.337545

In [7]:
df.rename(columns={'agency_jurisdiction': 'City'}, inplace=True)
df

,id,report_year,agency_code,City,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita,Latitude,Longitude
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13,35.084103,-106.650985
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46,32.735582,-97.107119
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32,33.748992,-84.390264
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58,41.757170,-88.314754
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10,30.341599,-97.587213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36,32.222876,-110.974847
2684,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26,36.156312,-95.992752
2685,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42,36.849658,-75.976075
2686,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37,38.895037,-77.036543
2687,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00,37.692236,-97.337545

In [14]:
df = df[~df['City'].str.contains('county', case=False, na=False)]
df

,id,report_year,agency_code,City,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita,Latitude,Longitude
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13,35.084103,-106.650985
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46,32.735582,-97.107119
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32,33.748992,-84.390264
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58,41.757170,-88.314754
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10,30.341599,-97.587213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36,32.222876,-110.974847
2684,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26,36.156312,-95.992752
2685,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42,36.849658,-75.976075
2686,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37,38.895037,-77.036543
2687,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00,37.692236,-97.337545

In [ ]:
# Initialize the base map 
map_center = [39.8283, -98.5795]  # Center of the US
m = folium.Map(location=map_center, zoom_start=4)

# CRIME INDEX (based on total violent crimes and population)
def calculate_crime_index(violent_crimes, population):
    return violent_crimes / population if population > 0 else 0

# Aggregate the data by city (sum of violent crimes and population, first latitude and longitude)
city_crime_data = df.groupby('City').agg(
    total_violent_crimes=('violent_crimes', 'sum'),
    total_population=('population', 'sum'),
    Latitude=('Latitude', 'first'), 
    Longitude=('Longitude', 'first'),  
    total_homicides=('homicides', 'sum'),
    total_rapes=('rapes', 'sum'),
    total_assaults=('assaults', 'sum'),
    total_robberies=('robberies', 'sum')
).reset_index()

# PER CAPITA OF 1000 PEOPLE 
city_crime_data['crimes_percapita'] = (city_crime_data['total_violent_crimes'] / city_crime_data['total_population']) * 1000
city_crime_data['homicides_percapita'] = (city_crime_data['total_homicides'] / city_crime_data['total_population']) * 1000
city_crime_data['rapes_percapita'] = (city_crime_data['total_rapes'] / city_crime_data['total_population']) * 1000
city_crime_data['assaults_percapita'] = (city_crime_data['total_assaults'] / city_crime_data['total_population']) * 1000
city_crime_data['robberies_percapita'] = (city_crime_data['total_robberies'] / city_crime_data['total_population']) * 1000

# Crime index for each city based on the total violent crimes and population
city_crime_data['crime_index'] = city_crime_data.apply(
    lambda row: calculate_crime_index(row['total_violent_crimes'], row['total_population']), axis=1
)

# Crime INdex on a 1-10 scale
min_crime_index = city_crime_data['crime_index'].min()
max_crime_index = city_crime_data['crime_index'].max()

city_crime_data['scaled_crime_index'] = 1 + 9 * (city_crime_data['crime_index'] - min_crime_index) / (max_crime_index - min_crime_index)

# City ranking
city_crime_data['rank'] = city_crime_data['scaled_crime_index'].rank(method='min', ascending=False)

# Averages for all statistics
averages = {
    'avg_crimes_percapita': city_crime_data['crimes_percapita'].mean(),
    'avg_homicides_percapita': city_crime_data['homicides_percapita'].mean(),
    'avg_rapes_percapita': city_crime_data['rapes_percapita'].mean(),
    'avg_assaults_percapita': city_crime_data['assaults_percapita'].mean(),
    'avg_robberies_percapita': city_crime_data['robberies_percapita'].mean(),
}

# Best and worst
best_cities = city_crime_data.sort_values(by='scaled_crime_index', ascending=True).head(5)
worst_cities = city_crime_data.sort_values(by='scaled_crime_index', ascending=False).head(5)


def update_map():
    m = folium.Map(location=map_center, zoom_start=4)
    marker_cluster = MarkerCluster().add_to(m)

    # Loop through each city and plot 
    for _, row in city_crime_data.iterrows():
        crime_index = row['scaled_crime_index']
        
        # Color and icon based on crime index
        if crime_index < 4.99999:  
            color = 'green'
            icon = 'check-circle'
        elif crime_index > 7.999999:  
            color = 'red'
            icon = 'exclamation-circle'
        else:  
            color = 'orange'
            icon = 'warning'

        # Per capita statistics
        popup_text = f"""
            <b>City:</b> {row['City']}<br>
            <b>Crime Index (1-10):</b> {crime_index:.2f}<br>
            <b>Crimes per 1000 People:</b> {row['crimes_percapita']:.2f}<br>
            <b>Homicides per 1000 People:</b> {row['homicides_percapita']:.2f}<br>
            <b>Rapes per 1000 People:</b> {row['rapes_percapita']:.2f}<br>
            <b>Assaults per 1000 People:</b> {row['assaults_percapita']:.2f}<br>
            <b>Robberies per 1000 People:</b> {row['robberies_percapita']:.2f}
        """

        # Custom icon and detailed popup
        folium.Marker(
            location=[row['Latitude'], row['Longitude']],
            popup=folium.Popup(popup_text, max_width=250),
            icon=folium.Icon(color=color, icon=icon, prefix='fa')
        ).add_to(marker_cluster)

    # Legend
    legend_html = """
        <div style="position: fixed; 
                    top: 10px; right: 10px; 
                    background-color: white; 
                    border: 2px solid grey; 
                    padding: 10px; 
                    font-size: 12px;
                    z-index: 9999;">
            <b>Legend:</b><br>
            <i class="fa fa-check-circle" style="color: green;"></i> Best Cities (Low Crime)<br>
            <i class="fa fa-warning" style="color: orange;"></i> Average Cities<br>
            <i class="fa fa-exclamation-circle" style="color: red;"></i> Worst Cities (High Crime)<br>
        </div>
    """
    m.get_root().html.add_child(folium.Element(legend_html))

    # Top 5 Cities Legend
    top5_html = """
        <div style="position: fixed; 
                    bottom: 10px; right: 10px; 
                    background-color: white; 
                    border: 2px solid grey; 
                    padding: 10px; 
                    font-size: 12px;
                    z-index: 9999;">
            <b>Top 5 Best Cities (Low Crime):</b><br>
            {}
            <br><br>
            <b>Top 5 Worst Cities (High Crime):</b><br>
            {}
        </div>
    """.format(
        "<br>".join([f"{city}: {crime_index:.2f}" for city, crime_index in zip(best_cities['City'], best_cities['scaled_crime_index'])]),
        "<br>".join([f"{city}: {crime_index:.2f}" for city, crime_index in zip(worst_cities['City'], worst_cities['scaled_crime_index'])])
    )
    m.get_root().html.add_child(folium.Element(top5_html))

    # Averages Legend
    averages_html = """
        <div style="position: fixed; 
                    bottom: 10px; left: 10px; 
                    background-color: white; 
                    border: 2px solid grey; 
                    padding: 10px; 
                    font-size: 12px;
                    z-index: 9999;">
            <b>Average Crime Stats (per 1000 People):</b><br>
            <b>Crimes per 1000 People:</b> {avg_crimes_percapita:.2f}<br>
            <b>Homicides per 1000 People:</b> {avg_homicides_percapita:.2f}<br>
            <b>Rapes per 1000 People:</b> {avg_rapes_percapita:.2f}<br>
            <b>Assaults per 1000 People:</b> {avg_assaults_percapita:.2f}<br>
            <b>Robberies per 1000 People:</b> {avg_robberies_percapita:.2f}
        </div>
    """.format(
        avg_crimes_percapita=averages['avg_crimes_percapita'],
        avg_homicides_percapita=averages['avg_homicides_percapita'],
        avg_rapes_percapita=averages['avg_rapes_percapita'],
        avg_assaults_percapita=averages['avg_assaults_percapita'],
        avg_robberies_percapita=averages['avg_robberies_percapita']
    )
    m.get_root().html.add_child(folium.Element(averages_html))
    m.save('crime_index_map.html')
update_map()